.sc1 {
    background: url(../../../public/img/main_bg.jpg);
    padding: 5% 10%;

    div {
        background-color: floralwhite;
        display: flex;
        justify-content: space-between;

        h3 {
            font-family: courgette;
            font-size: 300%;
            text-transform: capitalize;
            text-align: center;

            span {
                color: red;
                font-size: 150%;
                text-transform: uppercase;
            }
        }


    }

    .txt1 {
        padding: 0% 25%;
        display: flex;
        flex-direction: column;

        // img {

        // }

        p {
            text-align: center;
        }
    }

    .sc1-2 {
        display: flex;
        justify-content: space-around;



        .select {
            display: flex;
            justify-content: space-around;
            align-items: center;


            div {
                height: 25%;
                width: 15vw;
                display: flex;
                align-items: center;
                justify-content: center;
                border-style: outset;

                // border-top: none; border-left: none;


                i {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                    font-size: 400%;

                    &:hover {

                        color: orangered;
                        box-shadow:black 5px 5px 15px;
                    }

                    span {
                        font-size: 45%;
                        margin: 10% 1%;
                        font-family: courgette;
                        text-transform: capitalize;

                    }

                }
            }


        }

        div {
            display: flex;
            flex-direction: column;
            padding: 2% 1%;

            img {
                font-size: 10px;
                border-radius: 50%;
            }



            div {
                display: flex;
                flex-direction: row;
            }

        }
    }

    
    
}

.chefs {
    img{
        display: flex;
        justify-content: center;
        margin: 1% auto;
    }
    h3 {
        font-family: courgette;
        font-size: 300%;
       text-transform: capitalize;
        text-align: center;
        color: whitesmoke;

        span {
            color: red;
            font-size: 150%;
            text-transform: uppercase;
        }

    }
    background-image: url(../../../public/img/team_background.jpg);

    div {display: flex;
        flex-direction: row;
        justify-content: space-evenly;


        div{
            display: flex;
            flex-direction: column;
            text-align: center;
            color: whitesmoke;
            p{
                text-transform: capitalize;
                font-family: courgette;
            }
        }
    }
}