.sc3 {
    padding: 0% 0%;
    background-image: url(../../../public/img/testimonials_background.jpg);


    .title2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: none;
        
       

        

        h3 {
            font-family: courgette;
            font-size: 250%;
            text-transform: capitalize;
            text-align: center;
            margin-top: 2%;
            color: white;

            &:nth-last-child(2){
                

                color:black;
            }

            span {
                color: red;
                font-size: 150%;
                text-transform: uppercase;
            }
        }



        div {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-evenly;
            background:none;
            
            img{
                border-radius: 50%;
                border: solid 5px lightgray;
                margin: 1% 1%;
                
                
                
                
                &:nth-child(1){
                    transform:scaleX(-1);
                   
                }
            }
            
    
            div {
                display: flex;
                flex-direction: column;
                background:none;
                border: solid 2px white;
                border-radius: 15px;
                margin: 2% 2%;
                padding: 1% 1%;
                
                
                color: white;
                h4{
                    text-align: left;
                    width: 100%;
                    font-family:menu;

                }
                span{
                    text-align: left;
                    width: 100%;
                    text-transform: capitalize;
                    color: red;
                    font-size: 120%;
                    font-family:menu;
                }

                p{
                    text-align: left;

                }
                
                
    
    
    
    
            }
        }

        
        
        
        
        
    }
    
    #contact{
        display: flex;
        flex-direction: column;
        background-image: url(../../../public/img/main_bg.jpg);
        padding: 2% 35%; 
        
        .title2{
            padding: 0%;
            display: flex;
            flex-direction: column;

        }
        
        #card2{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 10% 10%; margin: 5% 5%;
            background-color: orangered;
            border-radius: 15px;
            color: whitesmoke;

            i{
                font-size: 310%;
                
            }
                        
        }
    }

    


}